<section class="home">
  <app-header></app-header>

  <div class="home-content">
    <h1>Olá, Its <span>Aleksia</span></h1>
    <h3 class="text-animation">I'm a <span></span></h3>
    <p>"Qualquer coisa pela minha autenticidade é um preço caro a se pagar"</p>

    <div class="social-icons">
      <a href="">
        <i class="bx bxl-tiktok"></i>
      </a>
      <a href="">
        <i class="bx bxl-instagram-alt"></i>
      </a>
      <a href="">
        <i class="bx bxl-linkedin-square"></i>
      </a>
      <a href="">
        <i class="bx bxl-twitter"></i>
      </a>
    </div>

    <div class="btn-group">
      <a href="" class="btn">Contrate Me</a>
      <a href="" class="btn">Fale Comigo</a>
    </div>
  </div>
  <div class="home-img">
    <img src="assets/img/ale3-1.png" alt="">
  </div>
</section>

<section class="about" id="about">
  <div class="about-img">
    <img src="/assets/img/ale-4.png" alt="">
  </div>
  <div class="about-content">
    <h2 class="heading">Sobre <span>Mim</span></h2>
    <h3 class="text-animation-2"><span></span></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium laborum assumenda dicta accusantium non
      tempore officia soluta eum doloribus ullam, et quia eaque asperiores vero alias molestiae veniam culpa a!</p>
    <a href="" class="btn">Ver Mais</a>
  </div>
</section>

<section class="services" id="services">
  <h2 class="heading">Serviços</h2>

  <div class="services-container">
    <div class="service-box">
      <div class="service-info">
        <i class="bx bxs-camera-movie"></i>
        <h4>Comerciais & Curtas</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non atque accusamus quia quasi! A, quam sit
          voluptates rerum, unde id corporis soluta necessitatibus sint dolores omnis praesentium quisquam deleniti
          fugiat!</p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-info">
        <i class="bx bxs-camera"></i>
        <h4>Model</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non atque accusamus quia quasi! A, quam sit
          voluptates rerum, unde id corporis soluta necessitatibus sint dolores omnis praesentium quisquam deleniti
          fugiat!</p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-info">
        <i class="bx bxs-extension"></i>
        <h4>Peças e Teatros</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non atque accusamus quia quasi! A, quam sit
          voluptates rerum, unde id corporis soluta necessitatibus sint dolores omnis praesentium quisquam deleniti
          fugiat!</p>
      </div>
    </div>
  </div>


</section>

<section class="projects" id="projects">
  <h2 class="heading">Comerciais</h2>

  <div class="projects-box">

    <div class="project-card">
      <!-- <img src="/assets/img/project1.png" alt=""> -->
      <iframe width="560px" height="315" src="https://www.youtube.com/embed/sB0ohlo7r8o?si=3DwIZC0o5Y1uDXTu"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h3>Uber Flash (2023)</h3>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, libero, aut impedit vel temporibus et unde quo
        quia magni sed, velit nobis delectus animi itaque incidunt ducimus totam voluptatibus nemo.</p>

      <a class="btn-1" href="https://www.youtube.com/watch?v=sB0ohlo7r8o&t=2s">Ver Mais </a>
    </div>

    <div class="project-card">
      <!-- <img src="/assets/img/project2.png" alt=""> -->

      <iframe width="560" height="315" src="https://www.youtube.com/embed/dnxQZ7zLde4?si=InFwmsNjGdLF9cpF"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h3>Brastemp (2022)</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, libero, aut impedit vel temporibus et unde quo
        quia magni sed, velit nobis delectus animi itaque incidunt ducimus totam voluptatibus nemo.</p>
      <div class="btn-1">Ver Mais</div>
    </div>

    <div class="project-card">
      <!-- <img src="/assets/img/project3.png" alt=""> -->

      <iframe width="560" height="315" src="https://www.youtube.com/embed/RiRZeT6tYlU?si=uFbYpLDXCTugEKNp"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <h3>Tramontina (2023)</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, libero, aut impedit vel temporibus et unde quo
        quia magni sed, velit nobis delectus animi itaque incidunt ducimus totam voluptatibus nemo.</p>
      <div class="btn-1">Ver Mais</div>
    </div>

    <div class="project-card">
      <!-- <img src="/assets/img/project4.png" alt=""> -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/godTvNIpDMQ?si=Q7UJOXBNFkEm98HU"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <h3>CCPX Worlds 2021 </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, libero, aut impedit vel temporibus et unde quo
        quia magni sed, velit nobis delectus animi itaque incidunt ducimus totam voluptatibus nemo.</p>
      <div class="btn-1">Ver Mais</div>
    </div>

    <div class="project-card">
      <!-- <img src="/assets/img/project5.png" alt=""> -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YCL8wLcBoU8?si=sz04UgzclGWu55HC"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <h3>Banrisul (2022)</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, libero, aut impedit vel temporibus et unde quo
        quia magni sed, velit nobis delectus animi itaque incidunt ducimus totam voluptatibus nemo.</p>
      <div class="btn-1">Ver Mais</div>
    </div>

    <div class="project-card">
      <!-- <img src="/assets/img/project6.png" alt=""> -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xcmoy8F8Wr8?si=4I44w_FjJRqJk1cs"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h3>Zaffari (2022)</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, libero, aut impedit vel temporibus et unde quo
        quia magni sed, velit nobis delectus animi itaque incidunt ducimus totam voluptatibus nemo.</p>
      <div class="btn-1">Ver Mais</div>
    </div>
  </div>
</section>

<section class="contact" id="contact">
  <h2 class="heading">Contate <span>Me</span></h2>

  <form action="#">
    <div class="input-group">
      <div class="input-box">

        <input type="text" placeholder="Nome">
        <input type="email" placeholder="Email">

      </div>

      <div class="input-box">

        <input type="number" placeholder="Telefone">
        <input type="text" placeholder="Mensagem">

      </div>

    </div>


    <div class="input-group-2">
      <div class="input-box">
        <textarea name="" id="" cols="30" rows="10" placeholder="Escreva Aqui"></textarea>

        <input type="submit" value="Enviar Mensagem" class="btn-1">
      </div>
    </div>
  </form>
</section>

<footer class="footer">
  <div class="social">
    <a href="">
      <i class="bx bxl-tiktok"></i>
    </a>
    <a href="">
      <i class="bx bxl-linkedin-square"></i>
    </a>
    <a href="">
      <i class="bx bxl-instagram-alt"></i>
    </a>
    <a href="">
      <i class="bx bxl-twitter"></i>
    </a>
  </div>

  <ul class="list">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#services">Serviços</a>
    </li>
    <li>
      <a href="#about">Sobre Mim</a>
    </li>
    <li>
      <a href="#projects">Comerciais</a>
    </li>
    <li>
      <a href="#contact">Contato</a>
    </li>
  </ul>
  <p class="copyright">
    &copy; Aleksia Dias | Todos os direitos Reservados
  </p>
</footer>